/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.mousein{
    background-color: gray;
    border: 2px solid green
}
.tbold{
    font-size: large;
}
.setbg{
    background-color: aqua;
}