<h1 appHighlight>Fundamentals of Angular</h1>
<p appHover>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ipsa quod
  placeat id minima sunt impedit doloribus eos, a, dolor fugiat consequatur
  animi voluptatem nihil dicta laborum error numquam sit eaque distinctio
  voluptatibus corrupti. Dolores eveniet adipisci dolorem vel autem ipsa, minus
  cumque qui quas! Labore quidem dolor suscipit veniam dolores tenetur
  architecto. Mollitia voluptatem possimus cumque beatae culpa tenetur provident
  delectus consequatur, recusandae architecto excepturi atque blanditiis earum
  harum aut labore impedit, a ipsum in autem. Odio, quidem? Voluptates
  reprehenderit nihil velit quo vitae maiores. Sit iure cumque tempore
  reiciendis ut dicta quae molestias placeat sapiente aspernatur dolores quis
  qui cum odit fugit ex, rem cupiditate possimus pariatur nulla mollitia
  perferendis quaerat earum ducimus! Velit eos quam tenetur aliquid inventore
  deleniti pariatur consequuntur error quae doloribus ex dolorem sed veniam
  voluptatum optio eaque illum exercitationem corrupti, ducimus molestias? Quo
  veritatis voluptates perspiciatis porro doloribus quae numquam atque
  recusandae totam!
</p>
<p appClass [display]="{ tbold: true, setbg: 2>1}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae illo
  sunt animi vero pariatur fugiat accusantium iste tempore, at doloribus
  laboriosam molestiae dicta voluptates rem cumque adipisci, suscipit qui
  dolorum eos est! Quas, corrupti. Nesciunt maiores accusamus dignissimos
  quaerat?
</p>
<p [appStyle]="{ border: '2px solid blue', fontSize: '24px'}" >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae illo
  sunt animi vero pariatur fugiat accusantium iste tempore, at doloribus
  laboriosam molestiae dicta voluptates rem cumque adipisci, suscipit qui
  dolorum eos est! Quas, corrupti. Nesciunt maiores accusamus dignissimos
  quaerat?
</p>